*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--main-text-color);
}

a {
    list-style: none;
    text-decoration: none;
}

.page-container {
    position: absolute;
    background-color: var(--main-background-color-solid);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 9000;
    background-color: var(--header-background-color);
    font: var(--nav-font);
}


.nav-collapse-toggle {
    display: none;
    position: sticky;
}

.nav-list {
    display: flex;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    width: -moz-fit-content;
    font: var(--nav-font);
}

.nav-link:link, .nav-link:visited {
    flex-wrap: nowrap;
    list-style: none;
    margin: 1rem;
    color: var(--header-text-color);
    font: var(--nav-font);
    transform: scale(1) translateY(0.1rem);
    transition: 0.2s ease-in;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
    color: var(--hover-item-text-color);
    text-decoration: underline;
    transform: scale(1.1) translateY(-0.1rem);
    transition: 0.2s ease;
}

.header {
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, var(--main-background-color-grade1), var(--main-background-color-grade2));
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
}

.header-container {
    margin: 0 8vw 0;
}

.header-text-box {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.header-title-main {
    margin: 0.8rem 0;
    font: var(--header-title);
    color: var(--header-text-color)
}

.header-title-sub {
    margin: 0.8rem 0;
    font: var(--header-sub);
    color: var(--header-text-color)
}

.header-paragraph {
    font: var(--header-paragraph);
    color: var(--header-text-color);
}

main {
    font: var(--body-font);
    height: 100%;
    width: 100vw;
    background-image: linear-gradient(to right top, var(--backdrop-background-grade1), var(--backdrop-background-grade2));
    -webkit-clip-path: polygon(0 0, 100% 25vh, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 25vh, 100% 100%, 0 100%);
    z-index: 1;
    margin-top: -30vh;
    background-size: cover;
}

section:first-of-type {
    padding-top: 20vh;
}

section:last-of-type {
    padding-bottom: 10vh;
    margin-bottom: 0;
}

section {
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
    background-size: contain;
    background-position: top;
    /*position: relative;*/
    align-self: center;
    flex-wrap: nowrap;
}

@keyframes collapse-section {
    0% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
    100% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }
}

@keyframes uncollapse-section {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}
/*applied to each card in the section*/
.collapse {
    animation: collapse-section 0.4s both;
    animation-delay: 0.1s;
 }

.uncollapse {
    animation: uncollapse-section 0.4s both;
    animation-delay: 0.1s;
}

.collapse p, .collapse h3 {
    transition: 0.6s ease;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: flex-start;
    align-content: stretch;
    margin: 0 8vw 6vh 8vw;
    transition: margin 0.4s ease, max-height 0.4s ease;
}

.margin-off {
    margin: 0 8vw 0 8vw;
    transition: margin 0.4s ease, max-height 0.4s ease;
    transition-delay: 0.1s;
}

.section-title {
    flex-grow: 2;
    font-size: 5rem;
    width: 100%;
}

h2.section-title {
    color: var(--inverse-text-color);
}

.section-title > svg  {
    vertical-align: center;
    position: relative;
    margin: 0 0 0.1rem 1rem;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: 0.2s ease;
}

.section-title > svg:hover,
.section-title > svg:active,
.section-title > svg:focus,
.section-title .toggled
{
    transform: rotate(90deg);
    transition: 0.2s ease;
}

.card {
    padding: 5rem;
    border: 1px solid black;
    background-color: var(--card-background-color);
    box-shadow: black 2.5px 2px;
    flex-grow: 1;
    color: var(--card-text-color);
    overflow: hidden;
}

.card-row {
    display: flex;
    place-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    align-items: flex-end;
}


.card-title {
    font: var(--card-title);
}

.card-subtitle {
    font: var(--card-subtitle);
}

.card-body {
    font: var(--card-body);
}

.card-list {
    margin-left: 2.8rem;
}

.card-list-item {
    margin: 0.2rem 0 0.6rem 0;
    font: var(--card-list-item);
}

.card-list-item:last-of-type {
    margin: 0.2rem 0 0rem 0;
    font: var(--card-list-item);
}

.card-list-item > ul {
    margin-top: 0.6rem
}

.card-dark {
    background-color: var(--inverse-background-color);
    color: var(--main-text-color);
    box-shadow: var(--inverse-border-color) 2.5px 2px;
}

.form-section-col {
    display: flex;
    flex-direction: column;
}

.form-section-row {
    display: flex;
    flex-direction: row;
    place-items: center;
}

.button {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
}

.button:hover {
    cursor: pointer;
}

.button-primary {
    color: var(--button-primary-text-color);
    background-color: var(--button-primary-background-color);
    border: 1px solid var(--button-primary-border-color);
}

.button-alert {
    color: var(--button-alert-text-color);
    background-color: var(--button-alert-background-color);
    border: 1px solid var(--button-alert-border-color);
}

.button-disabled {
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-background-color);
    border: 1px solid var(--button-disabled-border-color);
}

.button-label {
    font: var(--form-label);
    color: var(--button-label-color);
}

input.form-text-input[type=text] {
    color: var(--input-text-color)
}

input.form-text-input[type=text]::selection {
    background-color: var(--input-selection-background-color);
    color: var(--input-selection-text-color);
}

input.form-text-input[type=text]::spelling-error {
    color: var(--input-spellcheck-color);
}

.footer {
    display: flex;
    position: relative;
    height: 10vw;
    background-color: var(--header-background-color);
}

.footer-nav {
    display: flex;
}

.nav-link > svg {
    width: 3rem;
    height: 3rem;
    vertical-align: center;
    margin: 0 0 0.1rem 1rem;
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s ease;
}

.nav-link > svg:hover,
.nav-link > svg:active,
.nav-link > svg:focus
{
    transform: scale(1.2) translateY(-0.2rem);
    transition: 0.2s ease;
}

/*for when the screen is big */
@media screen and (min-width: 1920px)
and (max-width: 7680px)
{
    .nav-nav {
        margin: var(--margin-wide)
    }
    .header-container {
        margin: var(--margin-wide)
    }
    .section-container {
        margin: 0 12vw 6vh 12vw;
    }
    .margin-off {
        margin: var(--margin-wide)
    }
}

@media screen and (min-width: 0px)
and (max-width: 850px)
{
    html {
        font-size: 50%;
    }

    .header {
        position: absolute;
        height: calc(65vh - 250px);
    }

    .nav {
        display: block;
        width: 100%;
        animation: uncollapse-section 0.4s both;
        animation-delay: 0.1s;
    }

    .nav-collapse {
        animation: collapse-section 0.4s both;
        animation-delay: 0.1s;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item {
        margin: 0;
        padding: 0;
        flex-shrink: 1;
    }

    .nav-link:link, .nav-link:visited {
        font: var(--nav-small);
        margin: 0.6rem 0;
    }

    .nav-collapse-toggle {
        display: block;
        position: sticky;
        z-index: 9999;
        float: right;
        top: 4px;
        right: 8px;
        padding: 5px;
        height: 45px;
        background: black;
        border-radius: 100px;
        transform: scale(1);
        transition: 0.1s ease;
    }

    .nav-collapse-toggle:hover {
        transform: scale(0.8);
        transition: 0.1s ease;
    }

    .nav-collapse-toggle svg {
        height:35px;
        width: 35px;
    }
}

#modal-backsplash {
    display: block;
    position: absolute;
    z-index: 15;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--modal-backsplash-color);
}

#modal {
    display: block;
    position: sticky;
    z-index: 12;
    top: 50vh;
    left: 50vw;
    transform: translate(-10vw, -20rem);
    height: 70vh;
    width: 80vw;
    background-color: var(--modal-background-color);
    border: 1px solid var(--modal-border-color);
    border-radius: 5px;
}

#modal.hidden, #modal-backsplash.hidden {
    display: none;
}

