.theme-dark {
    /*Background */
    --main-background-color-solid: var(--primary-almost-black);
    --main-background-color-grade1: var(--primary-darkest);
    --main-background-color-grade2: var(--primary-dark);
    --backdrop-background-grade1: var(--primary-light);
    --backdrop-background-grade2: var(--accent-dark);
    --main-border-color: var(--grey-almost-white);

    --header-text-color: var(--grey-almost-white);
    --header-background-color: var(--primary-almost-black);
    --header-border-color: var(--primary-light);

    --accented-background-color: var(--accent-almost-black);
    --accented-border-color: var(--accent-dark);

    /*Text */
    --main-text-color: var(--black);
    --muted-text-color: var(--grey-almost-black);

    --inverse-text-color: var(--white);
    --inverse-background-color: var(--grey-almost-white);
    --inverse-border-color: var(--grey-dark);

    /* Card Elements */
    --card-background-color: var(--grey-dark);
    --card-text-color: var(--white);

    /* Button Elements */
    --button-text-color: var(--white);
    --button-background-color: var(--primary-primary);
    --button-border-color: var(--primary-darkest);

    --button-disabled-text-color: var(--grey-light);
    --button-disabled-background-color: var(--grey-almost-white);
    --button-disabled-border-color: var(--primary-dark);

    --button-primary-text-color: var(--button-text-color);
    --button-primary-background-color: var(--success-dark);
    --button-primary-border-color: var(--success-success);

    --button-alert-text-color: var(--button-text-color);
    --button-alert-background-color: var(--alert-almost-white);
    --button-alert-border-color: var(--alert-alert);
    --button-label-color: var(--white);

    /*Links*/
    --active-item-text-color: var(--grey-lightest);
    --active-item-background-color: var(--primary-darkest);

    --hover-item-text-color: var(--accent-almost-white);
    --hover-item-background-color: var(--accent-accent);

    --link-color: var(--grey-almost-white);
    --link-visited-color: var(--accent-lightest);

    /*Menus */
    --menu-text-color: var(--grey-lightest);
    --menu-background-color: var(--primary-almost-black);

    /*Forms */
    --input-text-color: var(--black);
    --input-border-color: var(--grey-almost-white);
    --input-background-color: var(--grey-almost-black);
    --input-selection-background-color: var(--white);
    --input-selection-text-color: var(--black);
    --input-spellcheck-color: var(--alert-alert);
    --tooltip-background-color: var(--grey-darkest);

    /*Flash Messages */
    --message-success-text-color: var(--grey-almost-white);
    --message-success-background-color: var(--grey-almost-white);
    --message-success-border-color: var(--success-success);

    --message-warning-text-color: var(--grey-almost-white);
    --message-warning-background-color: var(--grey-almost-white);
    --message-warning-border-color: var(--warn-warn);

    --message-danger-text-color: var(--grey-almost-white);
    --message-danger-background-color: var(--grey-almost-white);
    --message-danger-border-color: var(--alert-alert);

    --message-info-text-color: var(--grey-almost-white);
    --message-info-background-color: var(--grey-almost-white);
    --message-info-border-color: var(--primary-primary);

    /* Scrollbar */
    --scrollbar-border-color: var(--accent-dark);

    /* Modal */
    --modal-backsplash-color: rgba(255,255,255,50%);
    --modal-background-color: var(--menu-background-color);
    --modal-border-color: var(--accented-border-color);
}

