.theme-light {

/* body */
--body-color: var(--black);
--body-background: var(--white);
--body-border: var(--accent-accent);
--body-boxshadow: var(--grey-darkest);

/* header */
--header-color: var(--white);
--header-background: var(--grey-darkest);

/* header-nav */
--header-nav-color: var(--white);
--header-nav-background: var(--grey-darkest);

/* header-navitem */
--header-navitem-color: var(--white);
--header-navitem-background: var(--grey-darkest);

/* header-navitem-link */
--header-navitem-link-color: var(--white);
--header-navitem-link-background: var(--grey-darkest);

/* header-navitem-link-active */
--header-navitem-link-active-color: var(--white);
--header-navitem-link-active-background: var(--grey-darkest);
--header-navitem-link-focus-border: var(--white); /* Dotted */

/* header-navitem-link-focus */
--header-navitem-link-focus-color: var(--white);
--header-navitem-link-focus-background: var(--grey-darkest);
--header-navitem-link-focus-border: var(--white); /* When it's brought into focus via tab */

/* header-navitem-link-hover */
--header-navitem-link-hover-color: var(--accent-accent);
--header-navitem-link-hover-background: var(--grey-darkest);

/* header-navitem-link-visited */
/* N/A - No stylings */

/* header-nav-dropdown */
--header-nav-dropdown-navitem-color: var(--black);
--header-nav-dropdown-navitem-background: var(--white);

/* header-nav-dropdown-link-active */
--header-nav-dropdown-link-active-color: var(--black);
--header-nav-dropdown-link-active-background: var(--white);

/* header-nav-dropdown-link-focus */
--header-nav-dropdown-link-focus-color: var(--black);
--header-nav-dropdown-link-focus-background: var(--white);
--header-nav-dropdown-link-focus-border: var(--black);

/* header-nav-dropdown-link-hover */
--header-nav-dropdown-link-hover-color: var(--black);
--header-nav-dropdown-link-hover-background: var(--grey-almost-white);

/* header-nav-dropdown-link-visited */
/* N/A - No stylings */

/* header-navitem-button */
--header-navitem-button-color: var(--grey-grey);
--header-navitem-button-background: var(--grey-darkest);
--header-navitem-button-border: var(--white);

/* header-navitem-button-active */
/* N/A - No stylings */

/* header-navitem-button-focus */
--header-navitem-button-focus-color: var(--grey-grey);
--header-navitem-button-focus-background: var(--white);
--header-navitem-button-focus-border: var(--white);

/* header-navitem-button-hover */
--header-navitem-button-hover-color: var(--grey-grey);
--header-navitem-button-hover-background: var(--white);
--header-navitem-button-hover-border: var(--white);

/* header-navitem-button-visited */
/* N/A - No stylings */

/* main */
--main-color: var(--black);
--main-background: var(--white);
--main-border: var(--grey-almost-white);
--main-boxshadow: var(--accent-almost-white);

/* secondary */
--secondary-color: var(--white);
--secondary-background: var(--grey-almost-black);
--secondary-border: var(--accent-lightest);

/* table */
--table-color: var(--black);
--table-background: var(--white);
--table-border: var(--grey-lightest);

/* table-column-heading */
--table-column-heading-color: var(--white);
--table-column-heading-background: var(--grey-darkest);
--table-column-heading-border: var(--grey-lightest);

/* table-row-heading */
--table-row-heading-color: var(--accent-accent);
--table-row-heading-background: ; /* inherited */
--table-row-heading-border: var(--grey-lightest);

/* table-body */
--table-color: var(--black);
--table-background: var(--white);
--table-background-secondary: var(--grey-almost-white);
--table-border: var(--grey-lightest);

/* form */
--form-color: var(--black);
--form-background: var(--white);

/* form-heading */
--form-heading-color: var(--black);
--form-heading-background: var(--white);

/* form-body */
--form-body-color: var(--black);
--form-body-background: var(--white);

/* form-button */
--form-button-color: var(--white);
--form-button-background: var(--accent-accent);

/* form-button-hover */
--form-button-hover-color: var(--accent-lightest);
--form-button-hover-background: var(--white);
--form-button-hover-border: var(--accent-accent);

/* form-button-focus */
--form-button-focus-color: var(--grey-dark);
--form-button-focus-background: var(--accent-accent);
--form-button-focus-border: var(--grey-dark);

/* form-link */
/* None provided */

/* form-input */
--form-input-color: var(--black);
--form-input-background: var(--white);
--form-input-border: var(--accent-dark);

/* form-input-focus */
--form-input-focus-color: var(--black);
--form-input-focus-background: var(--white);
--form-input-focus-border: var(--accent-dark);
--form-input-focus-boxshadow: var(--accent-almost-white);

/* form-input-focus-visible */
--form-input-focus-visible-color: var(--black);
--form-input-focus-visible-background: var(--white);
--form-input-focus-visible-border: var(--success-darkest);

/* modal */
--modal-color: var(--dark-lightest);
--modal-color-background: var(--dark-lightest);
--modal-color-border: var(--dark-lightest);
--modal-color-boxshadow: var(--dark-lightest);
--modal-color-textshadow: var(--dark-lightest);
/* modal-heading */
--modal-heading-color: var(--dark-lightest);
--modal-heading-background: var(--dark-lightest);
--modal-heading-border: var(--dark-lightest);
--modal-heading-boxshadow: var(--dark-lightest);
--modal-heading-textshadow: var(--dark-lightest);
/* modal-body */
--modal-body-color: var(--dark-lightest);
--modal-body-background: var(--dark-lightest);
--modal-body-border: var(--dark-lightest);
--modal-body-boxshadow: var(--dark-lightest);
--modal-body-textshadow: var(--dark-lightest);
/* modal-button */
--modal-button-color: var(--dark-lightest);
--modal-button-background: var(--dark-lightest);
--modal-button-border: var(--dark-lightest);
--modal-button-boxshadow: var(--dark-lightest);
--modal-button-textshadow: var(--dark-lightest);
/* modal-link */
--modal-link-color: var(--dark-lightest);
--modal-link-background: var(--dark-lightest);
--modal-link-border: var(--dark-lightest);
--modal-link-boxshadow: var(--dark-lightest);
--modal-link-textshadow: var(--dark-lightest);
/* modal-input */
--modal-input-color: var(--dark-lightest);
--modal-input-background: var(--dark-lightest);
--modal-input-border: var(--dark-lightest);
--modal-input-boxshadow: var(--dark-lightest);
--modal-input-textshadow: var(--dark-lightest);
/* section (Create one style for each different section) */
--section-color: var(--dark-lightest);
--section-background: var(--dark-lightest);
--section-border: var(--dark-lightest);
--section-boxshadow: var(--dark-lightest);
--section-textshadow: var(--dark-lightest);
/* card (and stuff like nth card, or odd/even card, or "Primary card, Secondary card, etc") */
/* card-primary */
--card-primary-color: var(--black);
--card-primary-background: var(--white);
--card-primary-boxshadow: var(--accent-almost-white);

/* card-primary-heading */
--card-primary-heading-color: var(--black);
--card-primary-heading-background: var(--white);
--card-primary-heading-boxshadow: var(--accent-almost-white);

/* card-primary-link */
--card-primary-link-color: var(--primary-lightest);

/* card-primary-link-focus */
--card-primary-link-focus-color: var(--primary-dark);
--card-primary-link-focus-border: var(--primary-dark);

/* card-primary-link-hover */
--card-primary-link-hover-color: var(--primary-dark);

/* card-primary-link-visited */
--card-primary-link-visited-color: var(--primary-almost-white);

/* card-secondary */
--card-secondary-color: var(--white);
--card-secondary-background: var(--grey-dark);

/* card-secondary-heading */
--card-secondary-heading-color: var(--white);
--card-secondary-heading-background: var(--grey-dark);

/* card-secondary-link */
--card-secondary-link-color: var(--accent-accent);

/* card-secondary-link-focus */
--card-secondary-link-focus-color: var(--white);

/* card-secondary-link-hover */
--card-secondary-link-hover-color: var(--white);

/* card-secondary-link-visited */
--card-secondary-link-visited-color: var(--grey-almost-white);

/* button-primary */
--button-primary-color: var(--white);
--button-primary-background: var(--accent-accent);
--button-primary-border: var(--accent-accent);

/* button-primary-focus */
--button-primary-focus-border: var(--white);

/* button-primary-hover */
--button-primary-hover-color: var(--accent-accent);
--button-primary-hover-background: var(--white);
--button-primary-hover-border: var(--accent-accent);

/* button-secondary */
--button-secondary-color: var(--white);
--button-secondary-background: var(--black);
--button-secondary-border: var(--accent-accent);

/* button-secondary-focus */
--button-secondary-focus-color: var(--grey-almost-black);
--button-secondary-hover-border: var(--grey-almost-black);

/* button-secondary-hover */
--button-secondary-hover-color: var(--white);
--button-secondary-hover-background: var(--accent-accent);

/* footer */
--footer-color: var(--white);
--footer-background: var(--grey-darkest);

/* footer-nav (or footer-socials, or both.) */
--footer-nav-color: var(--white);
--footer-nav-background: var(--grey-darkest);

/* footer-navitem-link */
--footer-navitem-link-color: var(--white);
--footer-navitem-link-background: var(--grey-darkest);

/* footer-navitem-link-focus */
--footer-navitem-link-focus-border: var(--white);

/* footer-navitem-link-hover */
--footer-navitem-link-hover-color: var(--accent-accent);

/* footer-copyright */
--footer-copyright-color: var(--white);
--footer-copyright-background: var(--grey-darkest);
}